<div class="container-fluid">
    <div class="jumbotron">
      <h1>Sistema de Avaliação de Disciplinas</h1>
      <p>Gestão de questionários, respostas e estatísiticas</p>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">Coluna 1</div>
          <div class="panel-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate magnam adipisci praesentium, natus et at est ab perferendis dolore accusamus consequatur, deserunt, tenetur alias. Quidem necessitatibus vel inventore minus sequi!</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">Coluna 2</div>
          <div class="panel-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate magnam adipisci praesentium, natus et at est ab perferendis dolore accusamus consequatur, deserunt, tenetur alias. Quidem necessitatibus vel inventore minus sequi!</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">Coluna 3</div>
          <div class="panel-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate magnam adipisci praesentium, natus et at est ab perferendis dolore accusamus consequatur, deserunt, tenetur alias. Quidem necessitatibus vel inventore minus sequi!</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">Coluna 4</div>
          <div class="panel-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate magnam adipisci praesentium, natus et at est ab perferendis dolore accusamus consequatur, deserunt, tenetur alias. Quidem necessitatibus vel inventore minus sequi!</p>
          </div>
        </div>
      </div>
    </div>
  </div>